.signup{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url('https://t3.ftcdn.net/jpg/00/94/25/52/360_F_94255289_bLOLo8dVkESH4wP4QNVUg4hWBlcBEEOg.jpg');
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
}
.signup .form{
    max-width: 90%;
}