.signup{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url('https://images.unsplash.com/photo-1619995745882-f4128ac82ad6?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
}
.signup .form{
    max-width: 90%;
}