@media (min-width: 1024px) {
    .portoflio-heromain .mainbox{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 12% 9% 7% 9%;
        min-height: 100vh;
        min-height: 49vw;
        background:linear-gradient(rgb(247,247,247),white);
    }
    .portoflio-heromain .textbox{
        width: 58%;
    }
    .portoflio-heromain .textbox h1{
        font-size: 4vw;
        font-weight: 700;
        color:rgb(100,0,132);
    }
    .portoflio-heromain .textbox h2{
        font-size: 4vw;
        font-weight: 700;
        margin-left: 1vw;
    }
    .portoflio-heromain .textbox p{
        font-size: 1.6vw;
        font-weight: 600;
        margin-top: 0.5vw;
        margin-bottom: 1vw;
    }
    .portoflio-heromain .textbox .buttonbox{
        margin-top: 1.5vw;
    }
    .portoflio-heromain .textbox Button{
        background-color: rgb(23,158,162);
        margin-bottom: 2vw;
        background-color: rgb(235,98,27);
        margin-right: 1vw;
    }
    .portoflio-heromain .textbox .buttonbox Button{
        background-color:blue;
    }
    .portoflio-heromain .iconbox{
        display: flex;
        font-size: 1.4vw;
        color: white;
        
    }
    .portoflio-heromain .iconbox span{
        background-color: rgb(100,0,132);
        margin-right: 1vw;
        border-radius: 50%;
        padding: 0.6vw;
    }

    .portoflio-heromain .imagebox{
        width: 40%;
    }
    .portoflio-heromain .imagebox img{
        width: 28vw;
        height: 28vw;
        border-radius: 50%;
    
    }
}

@media (min-width: 768px)  and (max-width: 1023px){
    .portoflio-heromain .mainbox{
        display: flex;
        flex-wrap: wrap;
        padding: 20% 9% 7% 9%;
        min-height: 100vh;
        background:linear-gradient(rgb(247,247,247),white) ;
    }
    .portoflio-heromain .textbox{
        width: 100%;
        margin-bottom: 6vw;
    }
    .portoflio-heromain .imagebox{
        width: 100%;
    }
    .portoflio-heromain .textbox h1{
        font-size: 7vw;
        font-weight: 700;
        color: rgb(100,0,132);
    }
    .portoflio-heromain .textbox h2{
        font-size: 7vw;
        font-weight: 700;
        margin-left: 1vw;
    }
    .portoflio-heromain .textbox p{
        font-weight: 600;
        margin-top: 0.5vw;
        margin-bottom: 1vw;
    }
    .portoflio-heromain .textbox Button{
        margin-bottom: 3vw;
    }
    .portoflio-heromain .iconbox{
        display: flex;
        font-size: 3vw;
        color: white;   
    }
    .portoflio-heromain .iconbox span{
        background-color:rgb(100,0,132);
        margin-right: 1vw;
        border-radius: 50%;
        padding: 1vw;
    }
    .portoflio-heromain .imagebox img{
        width: 50vw;
        height: 50vw;
        border-radius: 50%;
    
    }
}

@media (max-width: 767px){
    .portoflio-heromain .mainbox{
        display: flex;
        flex-wrap: wrap;
        padding: 20% 9% 7% 9%;
        min-height: 100vh;
        background:linear-gradient(rgb(247,247,247),white) ;
    }
    .portoflio-heromain .textbox{
        width: 100%;
        margin-bottom: 6vw;
    }
    .portoflio-heromain .imagebox{
        width: 100%;
    }
    .portoflio-heromain .textbox h1{
        font-size: 8vw;
        font-weight: 700;
        color: rgb(100,0,132);
    }
    .portoflio-heromain .textbox h2{
        font-size: 8vw;
        font-weight: 700;
        margin-left: 2vw;
    }
    .portoflio-heromain .textbox p{
        font-weight: 600;
        margin-top: 1vw;
        margin-bottom: 3vw;
    }
    .portoflio-heromain .textbox Button{
        margin-bottom: 5vw;
    }
    .portoflio-heromain .iconbox{
        display: flex;
        font-size: 5vw;
        color: white;   
    }
    .portoflio-heromain .iconbox span{
        background-color: rgb(100,0,132);
        margin-right: 2vw;
        border-radius: 50%;
        padding: 1.5vw;
    }
    .portoflio-heromain .imagebox img{
        width: 70vw;
        height: 70vw;
        border-radius: 50%;
    
    }
}

